{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for entering and tracking fouls and red/yellow cards.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Head Referee Panel - {{.EventSettings.Name}} - Cheesy Arena</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon" href="/static/img/apple-icon.png">
    <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/lib/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/static/css/cheesy-arena.css" rel="stylesheet">
    <link href="/static/css/referee_panel.css" rel="stylesheet">
    <link href="/static/css/scoring_panel.css" rel="stylesheet">
  </head>
  
  <style>

  #alliance {
    min-width: 35%;
  
    height: max-content;
    padding-right: 25px;
    padding-left: 25px;
  }

  .scoringSection {
    position: relative;
  }

  #scoreRow {
    padding: 150px;
  }

  .team{
    width: min-content;
  }

  </style>



  <body>
   <div class="match">
    <h3 class="text-center">{{.MatchType}} Match {{.MatchDisplayName}}</h3>
      <div style="color: black; display: flex; flex-direction: row;">
        <div id="matchState" class="col-sm-2 col-sm-offset-2 col-lg-offset-2 well well-sm text-center">&nbsp;</div>
        <div id="matchTime" class="col-sm-2 well well-sm text-center">&nbsp;</div>
        <div id="redScore" class="col-sm-2 well well-sm well-red text-center">&nbsp;</div>
        <div id="blueScore" class="col-sm-2 well well-sm well-blue text-center">&nbsp;</div>
      </div>

        <!-- <div class="col"> -->
          <div style="display: flex; flex-flow: row; align-self: stretch; justify-content: space-between;" >
            <div id="alliance" data-alliance="red">
              <div class="scoring-section">
                {{template "card" dict "team" .Red1 "alliance" "red" "cards" .RedCards}}
                {{template "card" dict "team" .Red2 "alliance" "red" "cards" .RedCards}}
                {{template "card" dict "team" .Red3 "alliance" "red" "cards" .RedCards}}
                </div>

                <div id="redScoreButtons" style="flex-flow:row; flex-wrap: wrap;">
                  <!-- <div class="team">Auto</div> -->
                  {{template "goal" dict "period" "Auto" "level" "Upper" "plus" "W" "minus" "Q"}}

                  <!-- <div class="team">Tele</div> -->
                  {{template "goal" dict "period" "Teleop" "level" "Upper" "plus" "S" "minus" "A"}}

                  {{template "goal" dict "period" "Endgame" "level" "Upper" "plus" "X" "minus" "Z"}}
                </div>
         

                <div id="foulButtons"> 
                {{range $rule := .Rules}}
                  <a class="btn btn-xl btn-primary btn-referee"
                      data-rule-id="{{$rule.Id}}" onclick="commitFoul(this)"
                      title="{{$rule.Description}}"
                      data-alliance="red">
                    {{$rule.RuleNumber}}
                  </a>
                  {{end}}
                </div>
                  <br>
            </div>


            <div id="space" style="width: 10%;"></div>


            <div id="alliance" data-alliance="blue">
              <div class="scoring-section">
                {{template "card" dict "team" .Blue1 "alliance" "blue" "cards" .BlueCards}}
                {{template "card" dict "team" .Blue2 "alliance" "blue" "cards" .BlueCards}}
                {{template "card" dict "team" .Blue3 "alliance" "blue" "cards" .BlueCards}}
              </div>
              <div id="blueScoreButtons" style=" flex-flow:row; flex-wrap: wrap;">
                <!-- <div class="team">Auto</div> -->
                {{template "goal" dict "period" "Auto" "level" "Upper" "plus" "Y" "minus" "T"}}
                
                <!-- <div class="team">Tele</div> -->
                {{template "goal" dict "period" "Teleop" "level" "Upper" "plus" "H" "minus" "G"}}

                {{template "goal" dict "period" "Endgame" "level" "Upper" "plus" "N" "minus" "B"}}
              </div>
              
                <div id="foulButtons">  
                {{range $rule := .Rules}}
                  <a class="btn btn-xl btn-primary btn-referee"
                      data-rule-id="{{$rule.Id}}" onclick="commitFoul(this)" 
                      title="{{$rule.Description}}"
                      data-alliance="blue">
                    {{$rule.RuleNumber}}
                  </a>
                {{end}}
                  </div>
                  <br>
              </div>
        </div>
          
            <br>
          <div class="container-fluid">
            <div class="row">
              <div id="foulList" class="col-xs-4">

                <h><span class="label label-scoring" id="refereeScoreStatus">Head Referee</span>
                  <span class="label label-scoring" id="redScoreStatus"></span></h>
                  <!-- <span class="label label-scoring" id="blueScoreStatus"></span></p> -->

                  <br>

                <table class="table table-condensed">
                  {{range $foul := .RedFouls}}
                    {{template "foul" dict "foul" $foul "color" "red" "rules" $.Rules}}
                  {{end}}
                  {{range $foul := .BlueFouls}}
                    {{template "foul" dict "foul" $foul "color" "blue" "rules" $.Rules}}
                  {{end}}
                </table>
                
              </div>
               <br>
        

                  
                <div id="commitButtons" class="col-xs-8">
                  <div class="text-center">
                    <a class="btn btn-xl btn-danger btn-referee btn-referee-wide"
                    onclick="location.reload();">Refresh</a>
                    <a class="btn btn-xl btn-danger btn-referee btn-referee-wide"
                    onclick="signalReview();">Match Under Review</a>
                    <a class="btn btn-xl btn-success btn-referee btn-referee-wide"
                        onclick="signalReset();">Signal Reset</a>
                      <a class="btn btn-xl btn-info btn-referee btn-referee-wide"
                        onclick="commitMatch();">Commit Match</a>
                  </div>
                </div>
              </div>
            </div>




   </div>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/referee_panel.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/lib/bootstrap-datetimepicker.min.js"></script>
  </body>
</html>
{{define "foul"}}
<tr class="row-{{.color}}">
  <td>Match Time: {{.foul.TimeInMatchSec}}</td>
  <td>
    {{$rule := index .rules .foul.RuleId}}
    {{$rule.RuleNumber}}{{if $rule.IsRankingPoint}}<sup>RP</sup>{{end}}
  </td>
  <td>
    <a class="btn btn-sm btn-danger" onclick="deleteFoul('{{.color}}','{{.foul.RuleId}}',
        {{.foul.TimeInMatchSec}});">Delete</a>
  </td>
</tr>
{{end}}
{{define "card"}}
  <div class="btn team robot-field btn-card" data-old-yellow-card="{{.team.YellowCard}}" data-alliance="{{.alliance}}"
      data-card-team="{{.team.Id}}" data-card="{{index .cards (print .team.Id)}}"
      onclick="cycleCard(this);">{{.team.Id}}</div><br />
{{end}}

{{define "goal"}}
<div class="goal">
  <div class="number-button minus" onclick="handleClick('{{.minus}}');">
    <div class="shortcut" style="opacity: 0;">{{.minus}}</div>-<div class="shortcut" style="opacity: 0;">{{.minus}}</div>
  </div>
  <div id="{{.period}}Cargo{{.level}}"><p class="team">{{.period}}</p></div>
  <div class="number-button plus" onclick="handleClick('{{.plus}}');">
    <div class="shortcut" style="opacity: 0;">{{.plus}}</div>+<div class="shortcut" style="opacity: 0;">{{.plus}}</div>
  </div>
</div>
{{end}}